<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" type="text/css" href="dinostyle.css">
  </head>
  <body>
    <div id="app" />
  </body>
</html>
